@import '../../sass/variables';
@import '../../sass/breakpoints';

.summary{
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include tablet{
        flex-direction: row;

    }
}