$primary-color:linear-gradient(180deg, #75F 0%, #6943FF 0.01%, #2F2CE9 100%);
$primary-color-reversed:linear-gradient(180deg, #4D21C9 0%, rgba(37, 33, 201, 0.00) 100%, rgba(37, 33, 201, 0.00) 100%);
$secondary-color:#303B59;
$reaction:#F55;
$memory:#FFB21E;
$verbal:#00BB8F;
$visual:#1125D6;
$background-color:#ECF2FF;
$light-blue:#CAC9FF;

$main-font:"Hanken Grotesk";
