@import '../../../sass/variables';
@import '../../../sass/breakpoints';
.summaryMain{
    height: 375px;
    width: 100%;
    background: $primary-color;
    border-radius: 0px 0px 32px 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    z-index: 2;
    @include tablet{
        height: 512px;
        border-radius: 32px;
        padding: 10px 45px;
        min-width: 250px;
        max-width: 300px;

    }    
}

.resultHeading{
    color: $light-blue;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: $main-font;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.resultText{
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-width: 250px;
    
    .resultWord{
        color: #fff;
        text-align: center;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: $main-font;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .resultExplanation{
        color: $light-blue;
        text-align: center;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: $main-font;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        @include tablet{
            padding: 0px 25px 20px 25px;
        }
        padding: 0px 57px 20px 57px;
    }
}

